@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cassandra: #feca57;
  --ballerina: #f3f3f3;
  --clear: #f8f8f8;
  --amour: #ee5253;
  --france: #2e86de;
  --meadow: #10ac84;
  --meadow-dark: #0e9775;
  --imperial: #222f3e;
}

body {
  background-color: var(--ballerina);
}